<% layout("/layouts/boilerplate") -%>

<body>
  <div class="container mt-4">
    <h2 class="mb-3">All Listings</h2>

    <!-- for aliging them in a row -->
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
      <% for (let listing of alllistings) { %>
      <a
        href="/listings/<%= listing._id %>"
        class="listing-link"
      >
        <div class="card col">
          <img
            src="<%= listing.image.url %>"
            class="card-img-top"
            alt="Listing Image"
            style="height: 20rem"
          />

          <div class="card-body">
            <b> <h5 class="card-title mt-2"><%= listing.title %></h5></b>
            <p class="card-text">
              ₹ <%= listing.price.toLocaleString("en-IN") %>/night
            </p>
          </div>
        </div>
      </a>
      <% } %>
    </div>
  </div>
</body>
